body {
    background-color: rgb(236, 233, 233);
}

.container {
    background-color: white;
    width: 50%;
    margin: 2rem auto;
    font-size: 24px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 5px;
}